main {
    background-color: rgb(250, 250, 250); 
    --font: Arial
}
.fas { color: #ea4040;}
/* 네이밍을 아래 w100p_mw614로 변경 .item_container_parent { width: 100%; max-width: 614px; } */
.w100p_mw614 { width: 100%; max-width: 614px; }
#item_container > .item { border: 1px solid #dfdfdf; border-radius: 8px; background-color: #fff;
font-family: var(--font) }